@page
@model VisitCompany.Pages.checklist.ConfirmHpEDL380Model
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "تایید اطلاعات";
}


<h2>تایید نمرات اطلاعات-</h2>

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <label>جنانچه ماژول  TPMفعال شده
                است آیا بر روی  ROتنظیم شده
                است ؟:</label>
            <span>@Model.Command.IsTPMEnabledAndRO</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> نام کاربری های متناسب
                :</label>
            <span>@Model.Command.AreAppropriateUsernamesCreated</span>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label> گروه های متناسب برای
                کاربری های مختلف :</label>
            <span>@Model.Command.AreAppropriateGroupsCreated</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنظیمات مربوط به Access
                ILO  در بخش شبکهsetting
                اعمال شده اند:</label>
            <span>@Model.Command.AreNetworkSettingsForILOConfigured</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label> تنظیمات مربوط به Access
                settingدر بخش تنظیمات اولیه
                ILOاعمال شده اند:</label>
            <span>@Model.Command.AreInitialSettingsForILOConfigured</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنظیمات مربوط به نام سرور و
                مشخصات  FQDNسرور تعیین
                ده است:</label>
            <span>@Model.Command.IsServerNameAndFQDNSet</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label> تنظیمات مربوط به Account
                serviceاعمال شده است :</label>
            <span>@Model.Command.IsAccountServiceConfigured</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنطیمات مربوط به پورت  ILOو
                پورت  USB اعمال شده است:</label>
            <span>@Model.Command.AreILOPortAndUSBPortConfigured</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label>  SSH Keysفعال شده است :</label>
            <span>@Model.Command.AreSSHKeysEnabled</span>
        </div>
        <br>
        <div class="col-md-6">
            <label>  تنظیمات مربوط به
                Certificateبه ازای هر کاربر
                اعمال شده است :</label>
            <span>@Model.Command.AreUserCertificatesConfigured</span>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>  تنطیمات مربوط به Certificate
                بر روی سیستم اعمال شده
                است:</label>
            <span>@Model.Command.AreSystemCertificatesConfigured</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنطیمات مربوط به
                Encryptionاعمال شده اند:</label>
            <span>@Model.Command.IsEncryptionConfigured</span>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label> تنطیمات بخش امنیتی UEFI
                اعمال شده است:</label>
            <span>@Model.Command.IsUEFISecurityConfigured</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنطیمات مربوط به بوت امن
                انجام شده است:</label>
            <span>@Model.Command.IsSecureBootConfigured</span>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label> تنظیمات مربوط به  TPMها
                اعمال شده است:</label>
            <span>@Model.Command.IsTPMConfigured</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنطیمات اولیه  ILOاز قسمت
                اعمال شدهSystem Utility
                است:</label>
            <span>@Model.Command.AreInitialILOSettingsConfigured</span>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label> تنظیمات مربوط به حذف
                اطلاعات هارد دیسک و Raid
                بندی غیرفعال شده است :</label>
            <span>@Model.Command.IsDiskAndRaidConfigDeletionDisabled</span>
        </div>
        <br>
        <div class="col-md-6">
            <label> تنظیمات لازم جهت حذف
                تنظیمات Provisioningانجام
                شده است:</label>
            <span>@Model.Command.AreProvisioningSettingsDeleted</span>
        </div>
        <br>
    </div>
    
    <H3>در صورت تایید امکان ویرایش وجود ندارد :</H3>
    <button type="submit">  ذخیره و ادامه ارزیابی</button>
</form>

<br />

<!-- دکمه بازگشت -->
<a href="/checklist/Confirm" class="btn btn-secondary">بازگشت به صقحه ی انتخاب چک لیست ها</a>



