
@page
@model VisitCompany.Pages.checklist.ConfirmModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "تایید اطلاعات";
}

<h2>تایید اطلاعات</h2>
@if (!Model.IsBackFromIndex)

    {
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <label>نمره احراز هویت:</label>
                <span>@Model.Command.AuthenticationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>توضیحات احراز هویت:</label>
                <span>@Model.Command.AuthenticationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره امنیت سازمانی:</label>
                <span>@Model.Command.OrganizationalSecurityStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت امنیت سازمانی:</label>
                <span>@Model.Command.OrganizationalSecurityStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره مدیریت امنیت:</label>
                <span>@Model.Command.SecurityManagerStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت مدیریت امنیت:</label>
                <span>@Model.Command.SecurityManagerStatus</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>نمره سیاست امنیتی:</label>
                <span>@Model.Command.SecurityPolicyStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت سیاست امنیتی:</label>
                <span>@Model.Command.SecurityPolicyStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره تأیید تغییرات امنیتی:</label>
                <span>@Model.Command.SecurityChangeApprovalStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت تأیید تغییرات امنیتی:</label>
                <span>@Model.Command.SecurityChangeApprovalStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره خدمات شخص ثالث:</label>
                <span>@Model.Command.ThirdPartyServiceStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت خدمات شخص ثالث:</label>
                <span>@Model.Command.ThirdPartyServiceStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره استخدام پرسنل:</label>
                <span>@Model.Command.PersonnelHiringStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت استخدام پرسنل:</label>
                <span>@Model.Command.PersonnelHiringStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره مدیریت دسترسی:</label>
                <span>@Model.Command.AccessManagementStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت مدیریت دسترسی:</label>
                <span>@Model.Command.AccessManagementStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره مدیریت تطابق:</label>
                <span>@Model.Command.ComplianceManagementStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت مدیریت تطابق:</label>
                <span>@Model.Command.ComplianceManagementStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره واکنش به حوادث:</label>
                <span>@Model.Command.IncidentResponseStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت واکنش به حوادث:</label>
                <span>@Model.Command.IncidentResponseStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره نقشه شبکه:</label>
                <span>@Model.Command.NetworkLogicalPhysicalMapStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت نقشه شبکه:</label>
                <span>@Model.Command.NetworkLogicalPhysicalMapStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ثبت اموال فیزیکی:</label>
                <span>@Model.Command.PhysicalAssetsInventoryStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ثبت اموال فیزیکی:</label>
                <span>@Model.Command.PhysicalAssetsInventoryStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره زونینگ:</label>
                <span>@Model.Command.ZoningStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت زونینگ:</label>
                <span>@Model.Command.ZoningStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره کنترل دسترسی:</label>
                <span>@Model.Command.AccessControlStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت کنترل دسترسی:</label>
                <span>@Model.Command.AccessControlStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره کنترل عملیات توسعه و آزمون:</label>
                <span>@Model.Command.DevelopmentTestOperationsControlStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت کنترل عملیات توسعه و آزمون:</label>
                <span>@Model.Command.DevelopmentTestOperationsControlStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره دسترسی مدیریت از راه دور:</label>
                <span>@Model.Command.RemoteAdministrativeAccessStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت دسترسی مدیریت از راه دور:</label>
                <span>@Model.Command.RemoteAdministrativeAccessStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره پیکربندی کد امن:</label>
                <span>@Model.Command.SecureCodingConfigStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت پیکربندی کد امن:</label>
                <span>@Model.Command.SecureCodingConfigStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ارزیابی امنیتی:</label>
                <span>@Model.Command.SecurityEvaluationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ارزیابی امنیتی:</label>
                <span>@Model.Command.SecurityEvaluationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره پشتیبان‌گیری:</label>
                <span>@Model.Command.BackupStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت پشتیبان‌گیری:</label>
                <span>@Model.Command.BackupStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره انقضای جلسه:</label>
                <span>@Model.Command.SessionExpirationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت انقضای جلسه:</label>
                <span>@Model.Command.SessionExpirationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره آنتی‌ویروس:</label>
                <span>@Model.Command.AntivirusStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت آنتی‌ویروس:</label>
                <span>@Model.Command.AntivirusStatus</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>نمره آپدیت ‌:</label>
                <span>@Model.Command.UpdateStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>  وضعیت ‌:</label>
                <span>@Model.Command.UpdateStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.WirelessNetworkStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.WirelessNetworkStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.PasswordPolicyStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.PasswordPolicyStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.DataDestructionStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.DataDestructionStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.LogManagementStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.LogManagementStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.ClockSynchronizationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.ClockSynchronizationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.AuthenticationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.AuthenticationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.BusinessIdentificationStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.BusinessIdentificationStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.EntryExitManagementStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.EntryExitManagementStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.CCTVStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.CCTVStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.HostingServiceStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.HostingServiceStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.PrivacyPolicyStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.PrivacyPolicyStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.PublicComplaintsStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.PublicComplaintsStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.CyberAttackResponseStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.CyberAttackResponseStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.DataSalesTradeStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.DataSalesTradeStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.FinancialPaymentPlatformStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.FinancialPaymentPlatformStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.UserDataCollectionStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.UserDataCollectionStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>نمره ‌:</label>
                <span>@Model.Command.EmployeeTrainingStatusScore</span>
            </div>
            <div class="col-md-6">
                <label>وضعیت ‌:</label>
                <span>@Model.Command.EmployeeTrainingStatus</span>
            </div>
        </div>
        div class="row">
        <div class="col-md-6">
            <label>نمره ‌:</label>
            <span>@Model.Command.AverageGeneral</span>
        </div>
        <H3>در صورت تایید امکان ویرایش وجود ندارد :</H3>
        <button type="submit">  ذخیره و ادامه ارزیابی</button>
        <br />
    </form>
}
else
{
    <h3>لطفا چک لیست مورد نظر را انتخاب کنید</h3>
}
<br/>

 <form method="post">
        
    <br/>
    <button type="submit" name="action" value="CreateJunior">   ارزیابی جونیپر</button>
    <button type="submit" name="action" value="CreateHPEDL380">   ارزیابی HP</button>
    <button type="submit" name="action" value="Fortigate">   ارزیابی Fortigate</button>
    <button type="submit" name="action" value="Createwin2019">   ارزیابی Win2019 </button>
</form>
    

   
    