@page
@model CreateModel
@{
    var showExtraField = Request.Query["showExtraField"].ToString() == "true";
    // این برای این است که میخواستم یک ورودی اضافه داشته باشم وقتی که کارر دکمه ی افزودن مجوز رو از ایندکس زد اونوقت یک ورودی اضافه داشته باشد 
}




<div class="modal-header">
    
    <h4 class="modal-title">ایجاد گروه محصول جدید</h4>
</div>
@if (Model.SuccessMessageame != null)
{
    <div class="alert alert-success">
        @Model.SuccessMessageame

    </div>
}
    @if (Model.ErrorMessageame != null)
    {
        <div class="alert alert-danger">
            @Model.ErrorMessageame

        </div>
}

<form method="post"  asp-page-handler="Create" enctype="multipart/form-data" >
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Command.Name" class="control-label">نام لایسنس</label>
                    <input type="text" class="form-control" asp-for="@Model.Command.Name" >
                    <span asp-validation-for="@Model.Command.Name" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Command.Refrence" class="control-label">نام مرجع صادر کننده مجوز</label>
                    <input type="text" class="form-control" asp-for="@Model.Command.Refrence">
                    <span asp-validation-for="@Model.Command.Refrence" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.Description" class="control-label">توضیحات</label>
                    <input type="text" class="form-control" asp-for="Command.Description">
                    <span  class="error"></span>
                </div>
            </div>

            <div>
                @if (showExtraField)
                {
                    <label for="ExtraField">نام شرکت  </label>

                    <input type="text" class="form-control" asp-for="Command.CompanyName">
                }
            </div>
        </div>
     
       
     
  
    </div>
    <div class="modal-footer">
        
        <button type="submit" class="btn btn-info waves-effect waves-light" >ایجاد</button>
    </div>
</form>


